body {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
  }
  
  
  .high {
    height: 200px;
  }

  .box {
    background-image: url(./images/nature.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
  }