body {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  
  .high {
    height: 200px;
  }

  .box {
    background-image: url(./images/nature.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
  }

  .button {
    padding: 10px 15px 10px 15px;
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    color: white;
    border-radius: 50px;
    cursor: pointer;
  }

  .button:hover {
    background-position: right center; 
    background-image: linear-gradient(to right, #81ee0c 0%, #382a2f  51%, #1c043f  100%);
    text-transform: uppercase;
    color: yellow;
  }

           

 